button{
    height: 40px;
    border: 1px;
    background-color: aquamarine;

}
input {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
}